* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1440px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
}
